In [1]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

In [2]:
db_string = "postgresql://postgres:postgres@postgres/postgres"
# db_string = "postgresql://postgres:postgres@postgres/dev4slack"
db = create_engine(db_string)

def query_df(line_query, cell_query=None, conn=db):
    if cell_query==None:
      return pd.read_sql(line_query, conn)
    return pd.read_sql(cell_query, conn)

# Custom notebook magic commands for loading sql.
from IPython.core.magic import register_line_cell_magic
def create_df_sql_magic(magic_name, conn):
    def sql_df(line_query, cell_query=None, conn=db):
        if cell_query==None:
          return pd.read_sql(line_query, conn)
        return pd.read_sql(cell_query, conn)
    custom_func = sql_df
    custom_func.__name__ = magic_name
    register_line_cell_magic(custom_func)
create_df_sql_magic('sql_df', db)

In [3]:
query = '''
    SELECT *
    FROM reddit_scores
    LIMIT 100
'''
df = query_df(query)

In [4]:
df.head()

,id,author,subreddit,timestamp,datetime,final_score,raw_score,num_in_bottom,num_in_top,shitposter_index,highest_upvotes,hu_score,lowest_ratio
0,1,Goosechumps,memeEconomy,1580432400,2020-01-31 01:00:00,80.92,2.77,0,2,0.0,22463,1.46,0.95
1,2,DatGameGuy,memeEconomy,1580432400,2020-01-31 01:00:00,70.17,1.94,0,1,0.0,81871,2.14,0.91
2,3,Anzati,memeEconomy,1580432400,2020-01-31 01:00:00,64.83,1.63,0,1,0.0,50236,1.83,0.89
3,4,anthonyart13,memeEconomy,1580432400,2020-01-31 01:00:00,64.18,1.60,0,1,0.0,39065,1.70,0.94
4,5,Schorle_,memeEconomy,1580432400,2020-01-31 01:00:00,64.06,1.59,0,1,0.0,46244,1.79,0.89

In [5]:
query = '''
    SELECT *
    FROM reddit_memes
    LIMIT 100
'''
df = query_df(query)

In [6]:
df.head()

,id,reddit_id,subreddit,title,author,media,meme_text,status,timestamp,datetime,upvote_ratio,upvotes,downvotes,nsfw,num_comments
0,1,eibbti,memeEconomy,"So long, partner.",None,https://i.redd.it/fl697t50a2841.jpg,None,None,1577838358,2020-01-01 00:25:58,1.00,1,0,false,0
1,2,eibpoy,memeEconomy,Reblog this it is the only time we can do this...,None,https://i.redd.it/fwlvqljlf2841.jpg,None,None,1577840236,2020-01-01 00:57:16,1.00,1,0,false,1
2,3,eib6oq,memeEconomy,it really do be like that,None,https://i.redd.it/0povyiey72841.jpg,None,None,1577837673,2020-01-01 00:14:33,1.00,1,0,false,1
3,4,eibdco,memeEconomy,Invest in denying 2020 Stuff!!! Buy Buy Buy,None,https://i.redd.it/8zzw6dmka2841.jpg,None,None,1577838547,2020-01-01 00:29:07,0.94,782,50,false,6
4,5,eibl95,memeEconomy,This one is sure to blow up sooner or later!,None,https://i.redd.it/qialdfeod2841.png,None,None,1577839591,2020-01-01 00:46:31,1.00,1,0,false,1